apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: external-secrets
  namespace: flux-system
spec:
  interval: 1h
  url: oci://ghcr.io/external-secrets/external-secrets-helm
  ref:
    tag: v0.10.4