apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: actions-runner-controller
  namespace: arc-systems
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: actions-runner-controller
      version: 0.23.0
      sourceRef:
        kind: HelmRepository
        name: actions-runner-controller
  values:
    replicaCount: 2
    authSecret:
      create: false
      name: arc-github-app-auth 
    syncPeriod: 5m
    serviceAccount:
      create: true
      name: actions-runner-controller
      annotations:
        azure.workload.identity/client-id: "{{ .vars.ARC_CONTROLLER_CLIENT_ID }}"
      labels:
        azure.workload.identity/use: "true"
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
    securityContext:
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault