apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: arc-controller
  namespace: arc-systems
spec:
  interval: 10m
  chart:
    spec:
      chart: gha-runner-scale-set-controller
      version: "0.13.0"
      sourceRef:
        kind: HelmRepository
        name: actions-runner-controller
        namespace: flux-system
  
  install:
    remediation:
      retries: 3
  
  upgrade:
    remediation:
      retries: 3
  
  values:
    replicaCount: 1
    
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
        securityContext:
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault