apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-secrets
  namespace: flux-system
spec:
  interval: 5m
  path: "./kubernetes/apps/base/external-secrets/external-secrets/app"
  prune: true
  timeout: 3m
  sourceRef:
    kind: GitRepository
    name: external-secrets
  #   namespace: flux-system
  # targetNamespace: external-secrets