apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: flux-system
spec:
  interval: 10m
  releaseName: external-secrets
  targetNamespace: external-secrets
  chart:
    spec:
      chart: external-secrets
      version: 0.10.4
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
      interval: 15m
  install:
    crds: false
    createNamespace: true
  upgrade:
    crds: CreateReplace
  values:
    installCRDs: true
    webhook:
      create: true
    certController:
      create: true
    serviceAccount:
      create: true
      name: external-secrets
      annotations:
        azure.workload.identity/client-id: "a9fade03-308c-414c-9696-f345e4af1285"
        azure.workload.identity/tenant-id: "01b41838-a123-48a9-9aaf-91a8d640ff68"
      podLabels:
        azure.workload.identity/use: "true"
