apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gha-runner-scale-set
  namespace: actions-runner-system
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: gha-runner-scale-set
  install:
    timeout: 10m
    replace: true
    crds: CreateReplace
    createNamespace: true
    strategy:
      name: RetryOnFailure
      retryInterval: 5m
  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace
  # test:
  #   enable: true
  # rollback:
  #   recreate: true
  #   force: true
  #   cleanupOnFail: true
  uninstall:
    keepHistory: false
  driftDetection:
    mode: enabled
  maxHistory: 3
  dependsOn:
    - name: gha-runner-scale-set-controller
      namespace: actions-runner-system
  values:
    nameOverride: gha-runner-scale-set
    runnerScaleSetName: gha-runner-scale-set
    githubConfigSecret: github-app-secret
    githubConfigUrl: https://github.com/ianoflynnautomation/gitops-flux-github-runners
    maxRunners: 5
    minRunners: 1
    controllerServiceAccount:
      name: gha-runner-scale-set-controller
      namespace: actions-runner-system
    containerMode:
      type: dind
      # type: kubernetes
      # kubernetesModeWorkVolumeClaim:
      #   accessModes: ["ReadWriteOnce"]
      #   resources:
      #     requests:
      #       storage: 1Gi
    template:
      spec:
        containers:
          - name: runner
            image: ghcr.io/home-operations/actions-runner:2.330.0@sha256:92a45e47f4b349f4da2307ebaaea5443cc86d1ce625d37acf2c61b3b09192e47
            command: ["/home/runner/run.sh"]
            securityContext:
              privileged: true 
            resources:
              requests:
                memory: "12G"
              limits:
                memory: "16G"