apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: external-secrets-system
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: external-secrets
      version: 0.11.0
      sourceRef:
        kind: HelmRepository
        name: external-secrets
  install:
    crds: Create
    remediation:
      retries: 5
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 5
  values:
    fullnameOverride: external-secrets
    serviceAccount:
      create: true
      name: external-secrets
      annotations:
        azure.workload.identity/client-id: "{{ .vars.ESO_CLIENT_ID }}"
      labels:
        azure.workload.identity/use: "true"
    webhook:
      port: 9443
    certController:
      enabled: true
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
    securityContext:
      runAsNonRoot: true
      runAsUser: 65534
      fsGroup: 65534
    podSecurityContext:
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault