apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: arc-runners
  namespace: actions-runner-system
spec:
  interval: 10m
  chart:
    spec:
      chart: gha-runner-scale-set
      version: "0.13.0"
      sourceRef:
        kind: HelmRepository
        name: actions-runner-controller
        namespace: flux-system
  
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
        optional: false

  values:
    githubAppAuth:
      enabled: false

    authSecret:
      create: false
      name: github-pat-secret

    githubConfigUrl: "https://github.com/ianoflynnautomation/gitops-flux-github-runners"
    runnerGroup: "aks"
    
    minRunners: 0
    maxRunners: 15
    ephemeral: true

    listener:
      enabled: true

    runnerNamePrefix: "arc-runner-"
    runnerLabels: 
      - self-hosted
      - arc
      - kubernetes
      - ephemeral
      - linux
      - aks

    containerMode:
      type: kubernetes
      kubernetesModeWorkVolumeClaim:
        storageClassName: managed-csi-premium
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 50Gi

    template:
      spec:
        serviceAccountName: actions-runner-controller-manager
        containers:
          - name: runner
            image: ghcr.io/home-operations/actions-runner:2.329.0@sha256:1d26dc36431014527e0d920e7b84878dcf8fd69fb9639598de1af5ccf9210131
            resources:
              requests:
                cpu: "1"
                memory: "2Gi"
              limits:
                cpu: "3"
                memory: "6Gi"
        
        nodeSelector:
          kubernetes.azure.com/agentpool: runners
        
        tolerations:
          - key: runner
            operator: Equal
            value: "true"
            effect: NoSchedule

    serviceAccount:
      create: true
      name: actions-runner-controller-manager
      # annotations:
      #   azure.workload.identity/client-id: "${WORKLOAD_IDENTITY_CLIENT_ID}"
    
    podLabels:
      azure.workload.identity/use: "true"