apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: actions-runner-system

resources:
  - namespace.yaml
  - helmrepository.yaml
  - secret-github-app.sops.yaml
  - helmrelease.yaml